<%- include('partials/header'); -%>
<body>
<h1>Home</h1>

<p><%=home_content %>
<% new_contents.forEach(function (new_content){%>
<h1> <%= new_content.title%> </h1>
<p>  <%= new_content.blogItem%> </p>
  <% });%>


<%- include('partials/footer')%>
</body>
</html>