<%- include('partials/header'); -%>
<body>
<h1>Home</h1>

<p><%=home_content %>
<% new_contents.forEach(function (new_content){%>
        <a href="/post"><h1> <%= new_content.title%> </h1></a>

<p>  <%= new_content.blogItem.substring(0,100)+"...";%> </p>
<a href="/post/<%=new_content.title%>">Read More</a>
  <% });%>


<%- include('partials/footer')%>
</body>
</html>